
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 600;
}

h1 {
	text-align: center;
	font-size : 2.5vw;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	color: #636363;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
	width : 100px;

}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

.active {
	padding-top : 100px;
    font-weight : bold;
}

a {
	color: black;
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #000000;
}

ul,
ol {
	padding: 0;
	margin: 0;
}
/*----------------------------------------*/
/* Head
/*----------------------------------------*/

.inner-header .logo {
    width: 1100px;
	display:flex;
    justify-content:center;
	align-items:center;
}

.inner-header .logo img {
	width : 2000px;
}

.inner-header .logo a img{
	width : 3000px;
	max-width : 100%;
	height : auto;
}

/*----------------------------------------*/
/* Bottom-Banner
/*----------------------------------------*/

.owl-item {
	margin-bottom: 26px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;
}

.owl-item .owl-pic {
    overflow: hidden;
	position: relative;
}

.owl-item .owl-pic img{
	max-width: 100%;
	width : 2000px;
}
.info-container {

	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;

}



/*----------------------------------------*/
/* Top-Banner
/*----------------------------------------*/

.filter-control {
	text-align: center;
	margin-bottom: 45px;
	padding-top: 32px;
}

/*.filter-control {
	list-style: none;
	display: inline-block;
	font-size: 70px;
	color: #b2b2b2;
	margin-right: 100px;
	position: relative;
	cursor: pointer;
}*/

.filter-control .active {
	margin-top : 50px;
	color: #0c0707;
}

.filter-control ul li.active:before {
	opacity: 1;
}

.filter-control ul li:before {
	position: relative;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 2px;
	background: #171717;
	content: "";
	opacity: 0;
}

.filter-control ul li:last-child {
	margin-right: 0;
}

/*----------------------------------------*/
/* Drawing
/*----------------------------------------*/

.drawing-item img{
	padding-top : 100px;
	max-width: 100%;
	width : 3000px;
	display : block;
	margin : 0px auto;
}


/*----------------------------------------*/
/* table 태그
/*----------------------------------------*/


table {
	margin-top: 70px;
	border : 1px solid;
	text-align: left;
	min-width: 1600px;
}

table tr {
	height: 100px;
}

table tr td {
	font-size: 80px;
}

/*----------------------------------------*/
/* image slider
/*----------------------------------------*/

.slider {
	padding-top : 100px;
	text-align: center;
}

#footer-main {
	position: absolute;
	bottom : 0;
	min-width : 100%;
	background-color: black;
	height: 1200px;
	background-size: cover;
}

.content-inner{
	padding-top : 100px;
	margin-left : 100px;
	height : 1200px;
	background-color: black;
}

.footer-section{
	font-size : 50px;
	margin-left: 80px;
	color : white;
	width : 30%;
	float : left;
}

.prof {
	margin-left: 50px;
	padding-top : 150px;
	font-size : 50px;
	color : white;
}

.contain {
	width : 100%;
	height : 100%;
}
.RML img{
	margin-top : 150px;
	margin-left : 200px;
	width :auto;
	height:auto;
}